<%- include("partials/header.ejs") %>
<div class="aboutcontainer">
<h1>Hello there. I am Muhammad Ashhad Siddiqui</h1>
<p>
  I'm a Computer Science student at TU Dublin, currently in my 3rd year.  
  I'm on a journey to become a full-stack web developer and so far I’ve learned the fundamentals of 
  HTML, CSS, JavaScript, and backend development with Node.js, Express, and EJS.  
</p>

<p>
  This blog website you’re exploring right now has been built completely by me, from scratch, as a fun project 
  to practice what I’ve learned and improve my skills further.
</p>

</div>


<%- include("partials/footer.ejs") %>